#services{
    width:100%;
height:100vh;
box-sizing: border-box;
font-family: calibri;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
padding-top: 40px ;

}

.s-heading h1{
color:#FFFFFF;
font-size: 3rem;
margin: 0px;
padding: 0px;

}
.s-heading p{
color:rgba(255,255,255,0.30);
font-size: 1rem;
margin: 0px;
padding: 0px;
}

.s-heading{
text-align: center;
margin: 20px 0px;
}

