

.skills > header{
    font-family: calibri;
    font-size: 1.7rem;
    text-align: center;
    color: #FFFFFF;
    font-weight: 400;
    padding: 10px 20px;
    background-color: 292929;
    letter-spacing: 2px;
    border-radius: 3px;
    box-shadow: 2px 2px 20px rgba(0,0,0,0.1);



}

.skills .skill{
    display: grid;
    grid-gap: 16px;
    padding: 16px;
    max-width: 1024px;
    margin-inline-start: auto;
    margin-inline-end: auto;
}

.skill .set{
    background-color: #262626;
    padding: 24px;
    border-radius: 16px;
    cursor: pointer;
   
}

.skill .set:hover{
    box-shadow:  0px 5px 0px #17d1accc;
    transition: all ease 0.5s;
    transform: scale(1.1);
}

.set span{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    font-size: 48px;
    background-color: #bdbdbd;
    color: white;
    border-radius: 35%;
    margin-inline-start: auto;
    margin-inline-end: auto;
}

.set > header{
    padding-block-start: 24px;
    padding-block-end: 24px;
    font-size: 24px;
    color: white;
    text-align: center;
    text-transform: uppercase;
}

.set .list{
    padding-block-start: 8px;
    padding-block-end: 8px;
    display: grid;
    grid-template-columns: 1fr 28px;
    color: grey;
    text-transform: uppercase;    
}

.set:hover .list{
    color: white;
    transition: all ease 0.5s;
}

.list i{
    font-size:2rem;
}


@media screen and (min-width: 600px){
    .skill {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 600px){
    .skill {
        grid-template-columns: 1fr;
    }
}


