.carousel{
    width: 86%;
}

.carousel-control-next{
    position: absolute;
    top: 34%;
    bottom: 0%;
    right: 3%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    color: #fff;
    height: 50%;
    text-align: center;
    opacity: .5;
    transition: opacity .15s ease;
    background: url('../assets/green-neon-arrow-1.png') no-repeat;
    background-size: 50%;
    background-position-y: 96px;
}

.carousel-control-prev{
    position: absolute;
    top: 34%;
    bottom: 0%;
    left: 3%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    color: #fff;
    height: 50%;
    text-align: center;
    opacity: .5;
    transition: opacity .15s ease;
    background: url('../assets/green-neon-arrow-1.png') no-repeat;
    background-size: 50%;
    background-position-y: 96px;
    transform: scaleX(-1);
}
.carousel-control-prev-icon{
    background: none;
}

.carousel-control-prev span{
    color: transparent;
}

.carousel-control-next-icon{
    background: none;
}

.carousel-control-next span{
    color: transparent;
}

