.links-box{
    display: flex;
    position: absolute;
    bottom: 8%;
    right: 15%;
    justify-content: space-evenly;
    gap: 52%;
}

.links{
    font-size: 3rem;
    text-shadow:
    0 0 7px #fff,
    0 0 42px #1eff4e,
    0 0 82px #1eff4e,
    0 0 92px #1eff4e,
  
    0 0 151px #1eff4e;   
}

.links:hover {
transform: scale(1.5);
  }

.links i{
    color: #fff;
}

@media screen and (max-width: 800px){
    .links{
        font-size: 2rem;
    } 

    .links-box{
        right: 43%;
        bottom: 10%;
    }  
}

@media screen and (max-width: 500px){
    .links{
        font-size: 2rem;
    } 

    .links-box{
        right: 41%;
    }  
}

@media screen and (max-width: 400px){
    .links-box{
        right: 37%;
    }  

}

