.skills-box {
    display: flex;
    transition: ease-in-out;
    width: 30%;
    top: 15%;
    gap: 3%;
    position: absolute;
    right: 0%;
    padding: 2%;
    margin: 2%;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.skills {
    font-size: 5rem;
    color: aqua;
}

.skills i{
    position: absolute;
    top: 57%;
}

.skills .text {
    margin-bottom: 0%;
}
