.skills-box {
    display: flex;
    transition: ease-in-out;
    width: 32%;
    top: 13%;
    gap: 3%;
    position: absolute;
    right: 0%;
    padding: 2%;
    margin: 2%;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.skills {
    font-size: 5rem;
}

.skills-box li:nth-child(n+5) {
    display: flex;
}


.skills i{
    position: relative;
    top: 9%;
    left: 8%;
}

.react{
    color: aqua;
}

.php{
    color: rebeccapurple;
}

.laravel{
    color: red;
}

.skills .text {
    margin-bottom: 0%;
}

@media screen and (max-width: 1050px) {
    .skills_box {
        top: 19%;
    }
}

@media screen and (max-width: 800px) {
    .skills-box {
        width: 100%;
        top: 44%;
        left: 10%;
    }

    .skills i {
        font-size: 5rem;
        top: 27%;
    }

    .skills_icon {
        height: 98px;
        width: 98px;
    }
}


@media screen and (max-width: 500px) {
    .skills-box {
        width: 100%;
        top: 51%;
        left: 12%;
    }

    .skills i {

        font-size: 2.5rem;
        top: 36%;
    }

    .skills_icon {
        width: 48px;
        height: 48px;
    }
}


@media screen and (max-width: 400px) {
    .skills-box {
        width: 100%;
        top: 51%;
        left: 10%;
    }

    .skills i {

        font-size: 2.5rem;
        top: 36%;
    }

    .skills_icon {
        width: 48px;
        height: 48px;
    }

}

@media screen and (max-width: 350px) {
    .skills-box {
        width: 100%;
        top: 51%;
        left: 3%;
    }

    .skills i {

        font-size: 2.5rem;
        top: 36%;
    }

    .skills_icon {
        width: 48px;
        height: 48px;
    }

}