.projects-card{
    width: 100%;
    margin: auto;
}

.projects-card-title{
    height: 300px;
    background: url(https://cdn4.iconfinder.com/data/icons/gray-toolbar-7/512/plan-512.png) center / cover;
}

.projects-card-title p{
    color: black;

}

.category-tabs{
    color: white;
}

.projects-card-menu{
    color: white;

}