/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Inspiration&family=Rubik&family=Rubik+Burned&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Audiowide&display=swap');

/* Main */
@import './style/__mainPage.css';

/* Projects */
@import './style/__project.css';

/* Skills */
@import './style/__skills.css';

/* Footer */
@import './style/__contact.css';

/* About Me */
@import './style/__backMenuBtn.css';

/* Carousel */
@import './style/__carousel.css';

* {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  text-decoration: none;
  list-style: none;
}

html {
  scroll-behavior: smooth;
  height: 100%;
 
}

body {
  font-family: 'Indie Flower', cursive;
  color: #DBE8D4;
  background-image: url('./assets/background_bricks.jpg');
  background-position: center;
  background-repeat: repeat-y;
  background-size: cover;
}